.gm-style-iw {
	width: 320px; 
	min-height: 100px;
	/*max-height: 200px;
	height: 100% !important;*/
}

/*.infoWindow  {
	max-width: 300px;
	line-height: normal;
	white-space: nowrap;
	overflow: auto;
}*/

#wpmre_map-canvas img {
	max-width:none;
}

#list {
	display: block;
}

#listing h2 {
color: #18546B;
font-size: 15px;
margin: 0;
padding: 0;
width: 141px;
float: left;
position: relative;
font-style: normal;
}

#list #listing {
float: left;
width: 285px;
margin-right: 35px;
height: 114px;
margin-bottom: 35px;
color: #7b7b7b;
font-style: italic;
}

#listing .info a {
width: auto;
height: auto;
}

#listing a {
color: #4f90a3;
text-decoration: underline;
font-style: normal;
float: left;
width: 114px;
height: 114px;
overflow: hidden;
}

#list #listing img{
width:100px;
vertical-align: bottom;
}

#list #listing .info {
float: left;
width: 140px;
}

.number {
display: block;
float: left;
padding-left: 5px;
padding-right: 5px;
height: 116px;
color: #18546B;
float: left;
font-size: 15px;
font-style: normal;
font-weight: bold;
}
/*
<div id="listing">
	<a><img src="http://ip-173-201-188-175.ip.secureserver.net/HT/components/com_map/phpThumb/phpThumb.php?src=../../../images/Dorchester+County+Visitor+Center.jpg&amp;w=170&amp;h=170" class="imgf"></a>
	<span class="number">1.</span> 
	<div class="info">
		<h2>Dorchester County Visitor Center</h2>
		<br><a href="http://ip-173-201-188-175.ip.secureserver.net/HT/index.php?option=com_content&amp;view=article&amp;id=29&amp;Itemid=58">View More Details</a>
		<br><a target="_blank" href="http://maps.google.com/maps?q=to:38.570851,-76.064363&amp;hl=en&amp;sll=37.0625,-95.677068&amp;sspn=58.076329,135.263672&amp;vpsrc=0&amp;t=h&amp;z=17">Get Directions</a>
	</div>
</div>
*/

/*
.infoWindow 
{
    line-height: normal;
    border:0px;
    background-color:#BF0F35;
    color:#FFFFFF;
    font-family:Arial;
    font-size:8pt;
    padding:0px;   
    margin:0px;
    border-radius:15px;
}*/